[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:ludvij/imgui.git
	branch = docking
[submodule "vendor/lud_utils"]
	path = vendor/lud_utils
	url = git@github.com:ludvij/lud_utills.git
